/*Whole Page*/
.Whole_Layout {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Container {
  display: flex;
  flex-direction: row;
  height: 89vh;
  overflow: hidden;
}

/* The Left side of  Basic Layout  */
.Left {
  width: 55vw;
  height: 100%;
  padding: 3.5rem;
}

/* The Right side of Basic Layout */
.Right {
  width: 45vw;
  background-color: rgba(235, 248, 255, 0.4);
  padding: 2rem;
}

/* Window size for Desktop / Monitor*/
@media only screen and (min-width: 1370px) {
  .Container {
    height: 92vh;
  }
}
